*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./image/pexels-tirachard-kumtanom-733857.jpg);
  background-size: cover;
}

textarea{
  background: transparent;
  border: 3px solid #37363C;
  border-radius: 5px;
  font-size: 15px;
}
span{
  font-size: 25px;
  font-weight: 600;
}
select{
  margin-right: 30px;
  margin-left: 5px;
  border: 2px solid;
  border-radius: 3px;
}
button{
  background-color: #37363C;
  color: white;
  font-size: 22px;
  border-radius: 4px;
  padding: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
h1{
  margin-bottom: 20px;
}
.App {
    text-align: center;
  }
  div{
    padding :10px;  
  }